.user__container {
  margin-top: 20px;
  display: flex;
  height: max-content;
  height: max-content;
}

.user__left {
  flex: 1;
  height: 100%;
  margin-right: 20px;
}

.user__left img {
  width: 100%;
  margin: auto;
}

.user__middle {
  flex: 1;
}
.user__right {
  flex: 1;
  width: 100%;
}

.gmap_canvas {
  height: 100%;
}

.gmap_canvas iframe {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .user__container {
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .user__left {
    margin-right: 0;
  }
  .user__left img {
    margin: 0;
  }

  .gmap_canvas iframe {
    height: 400px;
  }
}
